* {
    padding: 0;
    margin: 0;
}

body {
    background: #000000;
    cursor: default;
    overflow: hidden;
}


/* welcome page */

.welcome-page {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    display: none;
}

.start-page {
    text-align: center;
    color: #fff;
}

.start-page_icons {
    margin-top: 30px;
}

.start-page_icons img {
    width: 45px;
    margin: 3px;
}

.start-page_icons a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.start-title {
    margin: 25vh 0 25px 0;
}

#start-btn {
    background: transparent;
    color: #ffffff;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 22px;
}

#start-btn:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.35);
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.35);
}


/*content page*/

.content-page {
    color: #ffffff;
    height: 100vh;
    background: url('../img/body-bg.jpg') no-repeat center / cover;
    border: 15px solid black;
    border-radius: 40px;
    /* display: none; */
}

.header {
    margin-top: 5px;
    margin-bottom: 90px;
    height: 30px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'SF Display Thin';
    font-weight: bold;
    letter-spacing: 2px;
}

.header-icons img {
    width: 120px;
}

.header-calendar {
    font-size: 15px;
}

.content-calendar {
    letter-spacing: 1px;
    font-family: 'SF Display Regular';
    margin-bottom: 20px;
}

.content-time {
    font-size: 54px;
}

.content-widgets>div {
    color: rgb(199, 199, 204);
    width: 250px;
    height: 120px;
    background-color: rgba(28, 28, 30, 0.692);
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'SF Text Medium';
    letter-spacing: -1px;
    backdrop-filter: blur(5px);
}

.widget-title {
    color: rgb(112, 109, 109);
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 15px 15px 0 0;
    text-transform: uppercase;
    font-size: 14px;
}

.widget-title img {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border-radius: 30%;
}

.widget-arrow {
    font-size: 30px;
    margin-left: auto;
    margin-right: 10px;
}

.weather>.widget-content {
    font-family: 'SF Display Regular';
    letter-spacing: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 1.2rem;
}

.widget-content img {
    width: 60px;
}

.widget-content span {
    font-size: 46px;
    line-height: 1;
}

.shortcuts-btn {
    cursor: pointer;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    letter-spacing: normal
}

.shortcuts-btn a {
    border-radius: 5px;
    width: 100%;
    margin: 3px;
    padding: 5px;
    font-size: 12px;
    color: #ffffff;
    transition: 0.3s;
}

.shortcuts-btn a:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
}

.shortcuts>.widget-content img {
    margin: 0px 5px;
    width: 15px;
}


/*right side*/

.right-side {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.app-icons {
    width: 100px;
    text-align: center;
    padding: 0px 10px 30px 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-icons img {
    border-radius: 22.5%;
}

.app_icons__btn {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 22.5%;
    border: none;
    transform: 0.3s;
}

.app_icons__btn:hover {
    opacity: 0.9;
}


/*footer*/

.footer {
    bottom: 30px!important;
}

.icons-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(53, 53, 56, 0.692);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}

.icons-bar img {
    width: 100%;
}

.bottom-bar {
    width: 50px;
    padding: 15px 0px;
    margin: 0px 5px;
}


/* Battery */

.battery-block {
    display: flex;
    align-items: center;
}

#battery {
    color: #000000;
    width: 35px;
    height: 15px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 1.5px;
    background: transparent;
    position: relative;
    bottom: 1px;
}

#battery::after {
    content: "";
    display: block;
    width: 1px;
    height: 7px;
    background: transparent;
    position: absolute;
    right: -4px;
    top: 3px;
    border: 1px solid #c0c0c0;
    border-radius: 0 5px 5px 0;
}

#battery-level {
    height: 100%;
    width: 30%;
    background: #00FF00;
    transition: all ease 1s;
    border-radius: 2px;
}

#battery-level-digit {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-right: 3px;
}

#battery-level.battery-animation {
    animation-name: battery-charget;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes battery-charget {
    0% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}

#status {
    font-size: 12px;
    margin-bottom: 2px;
}

#battery-bolt {
    width: 14px;
    margin-left: 4px
}

#wifi-icon {
    width: 19px;
    margin-right: 4px;
    margin-bottom: 3px;
}


/* Personalize Modal Block */

.my-skills,
.portfolio,
.send-me-email {
    display: none;
}

.about {
    width: 800px;
    display: none;
}

.personalize-toolbar button:hover {
    opacity: 0.8;
}

#btn-close {
    background: rgba(255, 0, 0, 0.8)
}

#btn-max {
    background: rgba(255, 255, 0, 0.8)
}

#btn-min {
    background: rgba(0, 255, 0, 0.8);
}

.about_inner {
    padding: 50px 25px;
}

.about__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #fff;
}

.about__text p {
    font-size: 14px;
}

.about__text span {
    font-size: 20px;
}

.about__contacts {
    text-align: center;
    color: #c0c0c0;
    font-size: 16px
}

.about__contacts a>img {
    width: 30px;
    margin: 0 2px;
    margin-top: 5px;
}

.about__contacts a>img:hover {
    opacity: 0.9;
    transform: scale(1.1);
    box-shadow: #c0c0c0;
}


/* Weather Widget */

.weatherwidget-io {
    top: 100px!important;
    display: flex!important;
    justify-content: center;
    position: inherit!important;
}

.weatherwidget-io-frame {
    top: 20px!important;
}


/*test*/

.window {
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 9;
    background: rgba(30, 30, 30, 0.99);
    display: none;
}

.window_toolbar {
    background: #2C2D30;
    border-bottom: 0.5px solid #000000;
    cursor: move;
    z-index: 10;
    width: 100%;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
}

.window_toolbar button {
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    margin: 0px 2px;
}

.window_toolbar span {
    font-size: 15px;
    margin-left: 10px;
}


/* Calculator */

.calc {
    display: none;
    width: 350px;
    height: auto;
    padding-bottom: 20px;
}

#calc-btn {
    width: 50px;
    height: 50px;
    border: none;
    background: url('../img/icons/calculator.png') no-repeat center / cover;
}

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
:root {
    /* Base font size */
    font-size: 10px;
    /* Set neon color */
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}

.calc_body {
    color: #ffffff;
    margin-top: 10px;
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #e969e2, 0 0 4vw 0.4vw #d61acd, inset 0 0 1.5vw 0.4vw #b107a8, inset 0 0 0.4vw 0.2vw #e97272, inset 0 0 0.5vw 0.2vw #fff7f7;
    border-radius: 2rem;
    padding: 0 15px 20px 15px;
}

.calc_table {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.calc_num {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 0;
    justify-items: center;
    padding: 0px 5px;
}

.btn-num {
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(232, 14, 232, 1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(232, 14, 232, 1);
    box-shadow: 0px 3px 5px 0px rgba(232, 14, 232, 1);
    border-image-slice: 1;
    font-size: 3rem;
    border-radius: 2rem;
    width: 65px;
    height: 65px;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    transition: 0.3s all ease;
}

.btn-num:hover {
    border: 2px solid rgba(232, 14, 232, 1);
    color: rgba(232, 14, 232, 1);
}

.btn-num:focus {
    outline: none;
}

#numClean,
#numRadic,
#numPercent,
#numDivision,
#numTimes,
#numMinus,
#numPlus,
#numPlusMin,
#numPoint {
    color: #ee0eee;
}

#numEqual {
    background: #ee0eee;
}

#numEqual:hover {
    background: #000;
}

.calc_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-input {
    border: none;
    background: transparent;
    color: #9e9d9d;
    font-size: 2rem;
    text-align: right;
}

.calc-input:focus {
    outline: none;
}

#calcTableResult {
    font-size: 3rem;
    padding: 10px 20px;
    color: #fff;
}

h1 {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 2rem 6rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
}

h1::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1:focus {
    outline: none;
}


/* Animate neon flicker */

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
        box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
    }
    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}

@media screen and (max-width: 850px) {
    .right-side {
        justify-content: center;
        margin-top: 20px;
    }
    .right-side>.app-icons {
        width: 75px;
    }
    .content-calendar {
        text-align: center;
    }
    .content-widgets {
        display: flex;
        justify-content: space-around;
        margin: 10px 0px 20px 0px;
    }
    .about {
        width: 600px;
    }
    .about_inner {
        padding: 10px;
    }
    .about__avatar {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        margin-bottom: 15px;
    }
    .right-side {
        justify-content: center;
    }
    .right-side>.app-icons {
        padding: 0px 0px 20px 10px;
        margin-right: 5px;
    }
    .content-calendar {
        text-align: center;
        margin: 0;
    }
    .content-widgets {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}

@media (max-width: 614px) {
    .btn-num {
        font-size: 2rem;
        height: 7rem;
        width: 7rem;
    }
    .about {
        width: 500px;
    }
    .about__text span {
        font-size: 16px;
    }
    .about__contacts,
    .about__text {
        font-size: 13px;
    }
}

@media screen and (max-width: 524px) {
    .content-page {
        border: 10px solid black;
    }
    .content-widgets {
        display: none;
    }
    .content-calendar {
        margin: 20px 0;
    }
    .shortcuts>.widget-content img {
        margin: 0;
    }
    .right-side>.app-icons {
        width: 60px;
    }
    .app-icons {
        font-size: 11px;
        display: flex!important;
    }
    .icons-bar img {
        width: 50px;
    }
    .bottom-bar img {
        width: 50px;
        margin-left: 6px;
    }
}

@media (max-width: 476px) {
    .btn-num {
        font-size: 2rem;
        height: 7rem;
        width: 7rem;
    }
    .calc_table {
        padding: 10px 15px;
    }
    #calcTableResult {
        font-size: 2rem;
        padding: inherit;
    }
    .about {
        width: auto;
        margin: 25px;
    }
    .about_inner__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .about_inner__row>div {
        margin-left: 0!important;
    }
    .about__avatar {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 420px) {
    .calc {
        width: 300px;
    }
    .btn-num {
        height: 50px;
        width: 50px;
    }
}

@media (max-width: 320px) {
    header {
        margin: 0px -10px
    }
    .header-calendar,
    #battery-level-digit {
        font-size: 13px;
    }
    #wifi-icon {
        width: 17px;
    }
    .calc {
        width: 250px;
    }
    .btn-num {
        height: 40px;
        width: 40px;
        border-radius: 1.5rem;
    }
    .window_toolbar span {
        margin-left: 5px;
    }
    .content-calendar {
        margin: 0px!important;
    }
    .app-icons img,
    .bottom-bar img {
        width: 45px;
    }
    .content-time {
        font-size: 50px;
    }
    .about__avatar {
        height: 100px;
        width: 100px;
    }
    .about__text p,
    .about__contacts {
        font-size: 12px;
    }
}